<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.customwidget">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".exerciseList.hencoderpracticedraw1.DrawBasicActivity" />
        <activity android:name=".exerciseList.hencoderpracticedraw2.PaintActivity" />
        <activity android:name=".exerciseList.hencoderpracticedraw3.DrawTextActivity" />
        <activity android:name=".exerciseList.hencoderpracticedraw4.ClipAndMatrixActivity" />
        <activity android:name=".exerciseList.hencoderpracticedraw5.DrawOrderActivity" />
        <activity android:name=".exerciseList.hencoderpracticedraw6.Animation1Activity" />
        <activity android:name=".exerciseList.hencoderpracticedraw7.Animation2Activity" />
        <activity android:name=".exerciseList.hencoderpracticelayout1.LayoutBasicActivity" />
        <activity android:name=".kotlin.activity.CeilingSuctionActivity"/>
        <activity android:name=".kotlin.activity.FormActivity" />
        <activity android:name=".kotlin.activity.LinkageNavigationActivity" />
        <activity android:name=".activity.ScrollerDemoActivity" />
        <activity android:name=".kotlin.activity.ScrollRecycleViewActivity" />
    </application>

</manifest>